<div class="container-fluid page-body-wrapper full-page-wrapper">
		<div class="content-wrapper d-flex align-items-center auth">
			<div class="row w-100">
				<div class="col-lg-4 mx-auto">
					<div class="auth-form-light text-left p-5">
						<div class="brand-logo">
							<img src="assets/images/logo.png">
						</div>
						<h4>Set New Password</h4>
						<!-- <h6 class="font-weight-light">Sign in to continue.</h6> -->
						<form (ngSubmit)="onSubmit()" [formGroup] = "resetPasswordForm" class="pt-3">
							<div [ngClass]="{disabledDiv: !common.isActiveDiv}">
								<div class="form-group">
									<input type="email" class="form-control form-control-lg" name="email" formControlName = "email" [ngClass]="{ 'is-invalid': submitted && rpf.email.invalid }" placeholder="Email Address" required />
									<div *ngIf="submitted && rpf.email.invalid" class="invalid-feedback">
										<div *ngIf="rpf.email.errors.required">Email is required</div>
										<div *ngIf="rpf.email.errors.pattern">Email format is incorrect.</div>
									</div>
								</div>
								<div class="form-group">
									<input type="password" class="form-control form-control-lg" name="password" formControlName = "password" [ngClass]="{ 'is-invalid': submitted && rpf.password.invalid }" placeholder="New Password" (keyup) = "onPasswordChange($event.target)"/>
									<div *ngIf="submitted && rpf.password.invalid" class="invalid-feedback">
										<div *ngIf="rpf.password.errors.required">Password is required</div>
										<div *ngIf="rpf.password.errors.pattern">Password must have one uppercase, one lower case and a digit. Password should be 6-12 characters long.</div>
									</div>
									<div *ngIf="onKeyupCheck" class="invalid-feedback-pass">
										<div>Password must have one uppercase, one lower case and a digit. Password should be 6-12 characters long.</div>
									</div>
								</div>
								<div class="form-group">
									<input type="text" class="form-control form-control-lg" formControlName = "otp" [ngClass]="{ 'is-invalid': submitted && rpf.otp.invalid }" placeholder="Verification Code" required  />
									<div *ngIf="submitted && rpf.otp.invalid" class="invalid-feedback">
										<div *ngIf="rpf.otp.errors.required">Verification Code is required</div>
										<div *ngIf="rpf.otp.errors.pattern">Only numbers are valid.</div>
									</div>
								</div>
								<div class="mt-3">
									<button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" >Change Password</button>
								</div>
							</div>
							<div class="alert alert-{{ message.responseType }} text-center" style="margin-top: 10px;" *ngIf = "message.responseMessage">{{ message.response }}</div>
							<div class="my-2 d-flex justify-content-between align-items-center">
							</div>
							<div class="text-center mt-4 font-weight-light">
								Want to request a new Verification Code? <a routerLink = "/forgot-password" class="text-primary">Click here</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- content-wrapper ends -->
	</div>
	<!-- page-body-wrapper ends -->
	