<div class="main-panel">        
	<div class="content-wrapper">
		<div class="page-header">
			<h3 class="page-title">
				
			</h3>
			<nav aria-label="breadcrumb">
				<a class="btn btn-primary" routerLink = "/body-part/add">Add Body Part</a>
			</nav>
		</div>
		<div class="row">
			<div class="col-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-9 col-md-6">
								<h4 class="card-title" style="font-size: 24px">Body Parts</h4>
							</div>
							<div class="search-exercise-field-llist col-lg-3 col-md-6">
								<div class="input-group">
									<div class="input-group-prepend bg-transparent">
										<i class="input-group-text border-0 mdi mdi-magnify"></i>                
									</div>
									<input [(ngModel)]="searchText" class="form-control bg-transparent border-0" placeholder="Search for Body Part">
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<!-- <th>#</th> -->
										<th>Title</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="commonService.showTr" [innerHTML]="commonService.theHtmlString"></tr>
									<tr *ngFor="let injury of injuryService.injuries | async | filter : searchText : 'injury_name' | paginate: { itemsPerPage: 10, currentPage: p }">
										<!-- <th scope="row">{{ injury.id }}</th> -->
										<td>{{ injury.injury_name }}</td>
										<td>
											<a class="btn btn-sm btn-primary" routerLink = "/body-part/edit/{{injury.id}}">Edit</a> | 
											<button class="btn btn-sm btn-danger" (click) = "deleteInjury(injury.id, f)">Delete</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center margin-common">
							<pagination-controls (pageChange)="p = $event"></pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>